.contextMenus {
	position:absolute; 
	background-color:#cfcfcf; 
    border-style:solid; 
    border-width:1px; 
    border-color:#EFEFEF #505050 #505050 #EFEFEF; 
    visibility:hidden;
}
.menuItem {
	width:170px;
	color:black;
	cursor:pointer;
	font-size:8pt;            
    padding-left:5px; 
    background-color:transparent; 
    text-decoration:none;
   	border:0px solid buttonface;
   	line-height:14px;
}
.menuItemOn {
	width:170px;
	cursor:pointer; 
	font-size:8pt; 
    padding-left:5px; 
    background-color:blue;
    color:white; 
    text-decoration:underline;
   	border:0px solid buttonface;
   	line-height:14px;
}
.menuitems {
	/*padding-top:1px;
	padding-bottom:2px;*/
	padding-left:15px;
	padding-right:10px;
}
.contextEntry { 
	cursor:pointer;
	font-size: 9pt;
}
.nce { 
	cursor:pointer;
	font-size: 9pt;
}
.skin0 {
	cursor:default;
	position:absolute;
	text-align:left;
	font-family: Verdana;
	font-size: 9pt;
	line-height:14px;
	width:170px;
	visibility:hidden;
	border:1px solid gray buttonface;
	z-index:100;	
	overflow:hidden;
}
.arrow {
	cursor:default;
	font-family: Verdana;
	font-size: 9pt;
	line-height:14px;
    padding-left:6px;
    padding-right:6px;
}
